@model Farmacia.Models.VentaDetalle

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>VentaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicamento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venta.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
